/* src/components/Footer.module.css */
.footer {
  background-color: #222;
  color: #bbb;
  text-align: center;
  padding: 3rem 2rem;
  margin-top: 3rem;
}

.contactInfo {
  margin-bottom: 2rem;
}

.contactInfo h3 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
}

.contactInfo p {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.contactInfo a {
  color: #bbb;
  text-decoration: none;
}
.contactInfo a:hover {
  color: white;
  text-decoration: underline;
}

.socialLinks {
  margin-bottom: 2rem;
}

.socialLinks a {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  margin: 0 1rem;
  text-transform: uppercase;
}
.socialLinks a:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 0.9rem;
  border-top: 1px solid #444;
  padding-top: 2rem;
  display: inline-block;
}